#qdetails-menu {
  padding: 10px 15px;
}
.menu-header {
  border-bottom: 1px solid #ccc;
  margin: 0 -15px;
  padding: 5px 15px 15px;
}
table.qdetails {
  border-collapse: collapse;
  margin-bottom: 15px;
  margin-top: 10px;
}
table.qdetails tr {
  border-bottom: 1px solid #ccc;
}
table.qdetails td, table.qdetails th {
  padding: 4px 8px;
}
